{% for block in section.blocks %}
  {% if page.handle == block.settings.page-handle %}
  <!-- Place content for this section here -->
  {%- assign featuredCollection = block.settings.featuredCollection_handle -%}

  <!-- Insert products from the featured collection here  -->
  {% for product in collections[featuredCollection].products limit: 12 %}
  <div class="col-lg-3 col-md-6 col-xs-6 form-group styles-product" {{ block.shopify_attributes }}>
    <a href="{{ product.url }}">
      <img src="{{ product | img_url: '300x300' }}" alt="">
      <h4> {{ product.title }} </h4>
      <h4> {{ product.price | money_without_trailing_zeros }} </h4>
    </a>
  </div>
  {% endfor %}

  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "Page Content",
  "blocks": [
  {
    "type": "content",
    "name": "Page Content",
    "settings": [
    {
      "type": "text",
      "id": "page-handle",
      "label": "Page handle"
    },
    {
      "type": "collection",
      "id": "featuredCollection_handle",
      "label": "Featured products"
    }
    ]
  }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}